{% extends "base.html" %}
{% load static %}
{% block content %}


<!DOCTYPE html>



    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Modern Business - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body class="d-flex flex-column">
        <main class="flex-shrink-0">
          
            <!-- Page Content-->
            <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="row gx-5">
                            <!-- Post content-->
                            <article>
                                <!-- Post header-->
                                <header class="mb-4">
                                    <!-- Post title-->
                                    <h1 class="fw-bolder mb-1">{{lecture.title}}</h1>
                                   <br>
                                    <!-- Post meta content-->
                                    <div class="text-muted fst-italic mb-2">수강신청 기간 : {{lecture.app_start_date}} ~ {{lecture.app_end_date}}</div>
                                    <!-- Post categories-->
                                    <a class="badge bg-secondary text-decoration-none link-light" href="#!">{{lecture.level}}</a>
                                    <a class="badge bg-secondary text-decoration-none link-light" href="#!">{{lecture.category}}</a>
                                </header>

                           
                                <!-- Preview image figure-->
                                {%if lecture.thumbnail %}
                                    <figure class="mb-4"><img class="img-fluid rounded" src="{{lecture.thumbnail.url}}" alt="..." /></figure>
                                {% endif %}
                                강의설명 :{{lecture.summary}}
                                <br><br><br>

                                <button type="button" class="btn btn-secondary">수강신청</button>
                                <br><br><br>

                                    <!-- Post content-->
                                <section class="mb-5">
                                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                                        <li class="nav-item" role="presentation">
                                          <button class="nav-link active" id="detail_introduce-tab" data-bs-toggle="tab" data-bs-target="#detail_introduce" type="button" role="tab" aria-controls="detail_introduce" aria-selected="true">상세설명</button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                          <button class="nav-link" id="schedule-tab" data-bs-toggle="tab" data-bs-target="#schedule" type="button" role="tab" aria-controls="schedule" aria-selected="false">강의시간표</button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                          <button class="nav-link" id="introduce-tab" data-bs-toggle="tab" data-bs-target="#introduce" type="button" role="tab" aria-controls="introduce" aria-selected="false">강사진소개</button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="review-tab" data-bs-toggle="tab" data-bs-target="#review" type="button" role="tab" aria-controls="review" aria-selected="false">강의후기</button>
                                          </li>
                                      </ul>
                                      <div class="tab-content" id="myTabContent">
                                        <div class="tab-pane fade show active" id="detail_introduce" role="tabpanel" aria-labelledby="detail_introduce-tab"><p class="fs-5 mb-4">{{lecture.body}}</p></div>
                                        <div class="tab-pane fade" id="schedule" role="tabpanel" aria-labelledby="schedule-tab">
                                            {%if lecture.schedule %}
                                            <figure class="mb-4"><img class="img-fluid rounded" src="{{lecture.schedule.url}}" alt="..." /></figure>
                                            {% endif %}   
                                        </div>
                                        <div class="tab-pane fade" id="introduce" role="tabpanel" aria-labelledby="introduce-tab">...</div>
                                        <div class="tab-pane fade" id="review" role="tabpanel" aria-labelledby="review-tab">...</div>
                                      </div>
                                </div>
                                    
                                    <br><br><br>
                                                                     
                                  
                                </section>
                            </article>

                            <br><br><br>
                            
                    </div>
                </div>
            </section>
        </main>
        <!-- Footer-->
        <footer class="bg-dark py-4 mt-auto">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; Your Website 2021</div></div>
                    <div class="col-auto">
                        <a class="link-light small" href="#!">Privacy</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="#!">Terms</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="#!">Contact</a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
{%endblock%}