{% extends "base.html" %}
{% load static %}
{% block content %}

<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
<link rel='stylesheet prefetch' href='https://files.krve.io/f/eyespot.css'>
<link rel='stylesheet prefetch' href='https://cdn.cloudcache.dk/materialdesignicons/1.6.50/css/materialdesignicons.min.css'>

<div class="container" style="margin-top : 5em; margin-bottom : 10em;">
  <!-- 카테고리 목록  -->
  <div class="col-md-4">
    <ul class="list-group help-group">
      <div class="faq-list list-group nav nav-tabs">
        <!-- 4개의 탭 -->
        <a href="#tab1" class="list-group-item active" role="tab" data-toggle="tab">
          학습내용
        </a>
        <a href="#tab2" class="list-group-item" role="tab" data-toggle="tab">
          <i class="mdi mdi-account"></i> Hi-SW 관련
        </a>
        <a href="#tab3" class="list-group-item" role="tab" data-toggle="tab">
          <i class="mdi mdi-account-settings"></i> 진학상담
        </a>
        <a href="#tab4" class="list-group-item" role="tab" data-toggle="tab">
          <i class="mdi mdi-star"></i> 기타
        </a>
      </div>
    </ul>
  </div>
  <!-- 질문 목록  -->
  <div class="col-md-8">
    <div class="tab-content panels-faq">
      <!-- 1. 학습내용 질문 카테고리 -->
      <div class="tab-pane active" id="tab1">
        <form class="row g-2" style="margin-left: 32em;" action="{% url 'question:result' %}" method='GET'>
          <div class="col-auto" align="right;">
            <input type="search" class="form-control" id="search" name='query' placeholder="강의 이름으로 검색 :)">
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3" style="background-color: #999999; color: #000000; border: none;">
              검색
            </button>
          </div>
        </form>
        <div class="panel-group" id="category1">
            {% for question in about_lecture %}
              <div class="panel panel-default panel-help">
                <a href="#question{{ question.id }}" data-toggle="collapse" data-parent="#category1">
                  <div class="panel-heading">
                    {% if question.lecture is not null %}
                      <h2>[ {{ question.lecture.title }} ] {{ question.title }}</h2>
                    {% else %}
                      <h2>{{ question.title }}</h2>
                    {% endif %}
                  </div>
                </a>
                <div id="question{{ question.id }}" class="collapse">
                  <div class="panel-body">
                    {{ question.content }}
                    <!-- 답변 -->
                    <div style="background-color : #f8f9fa; border-radius : 1em; margin : 1em 1em; padding: 1em 1em;">
                      <h5 style="font-weight: bold; text-decoration: underline;">{{ question.answer_user.name }}님의 답변</h5>
                      {{ question.answer }}
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
        </div>
      </div>
      <!-- 2. HI-SW 질문 카테고리 -->
      <div class="tab-pane" id="tab2">
        <div class="panel-group" id="category2">
            {% for question in about_hisw %}
              <div class="panel panel-default panel-help">
                <a href="#question2-{{ question.id }}" data-toggle="collapse" data-parent="#category2">
                  <div class="panel-heading">
                    <h2>{{ question.title }}</h2>
                  </div>
                </a>
                <div id="question2-{{ question.id }}" class="collapse">
                  <div class="panel-body">
                    {{ question.content }}
                    <!-- 답변 -->
                    <div style="background-color : #f8f9fa; border-radius : 1em; margin : 1em 1em; padding: 1em 1em;">
                      <h5 style="font-weight: bold; text-decoration: underline;">{{ question.answer_user.name }}님의 답변</h5>
                      {{ question.answer }}
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
        </div>
      </div>
      <!-- 3. 진학상담 질문 카테고리 -->
      <div class="tab-pane" id="tab3">
        <div class="panel-group" id="category3">
            {% for question in about_school %}
              <div class="panel panel-default panel-help">
                <a href="#question3-{{ question.id }}" data-toggle="collapse" data-parent="#category3">
                  <div class="panel-heading">
                    <h2>{{ question.title }}</h2>
                  </div>
                </a>
                <div id="question3-{{ question.id }}" class="collapse">
                  <div class="panel-body">
                    {{ question.content }}
                    <!-- 답변 -->
                    <div style="background-color : #f8f9fa; border-radius : 1em; margin : 1em 1em; padding: 1em 1em;">
                      <h5 style="font-weight: bold; text-decoration: underline;">{{ question.answer_user.name }}님의 답변</h5>
                      {{ question.answer }}
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
        </div>
      </div>
      <!-- 4. 기타 -->
      <div class="tab-pane" id="tab4">
        <div class="panel-group" id="category4">
            {% for question in about_etc %}
              <div class="panel panel-default panel-help">
                <a href="#question4-{{ question.id }}" data-toggle="collapse" data-parent="#category4">
                  <div class="panel-heading">
                    <h2>{{ question.title }}</h2>
                  </div>
                </a>
                <div id="question4-{{ question.id }}" class="collapse">
                  <div class="panel-body">
                    {{ question.content }}
                    <!-- 답변 -->
                    <div style="background-color : #f8f9fa; border-radius : 1em; margin : 1em 1em; padding: 1em 1em;">
                      <h5 style="font-weight: bold; text-decoration: underline;">{{ question.answer_user.name }}님의 답변</h5>
                      {{ question.answer }}
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>


<script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script>
<script>
    $(function() {
    // Since there's no list-group/tab integration in Bootstrap
    $('.list-group-item').on('click',function(e){
     	  var previous = $(this).closest(".list-group").children(".active");
     	  previous.removeClass('active'); // previous list-item
     	  $(e.target).addClass('active'); // activated list-item
   	});
});
</script>

<style type="text/css">
.list-group.help-group {
  margin-bottom: 20px;
  padding-left: 0;
  margin: 0;
}
.list-group.help-group .faq-list {
  display: block;
  top: auto;
  margin: 0 0 32px;
  border-radius: 2px;
  border: 1px solid #ddd;
  box-shadow: 0 1px 5px rgba(85, 85, 85, 0.15);
}
.list-group.help-group .faq-list .list-group-item {
  position: relative;
  display: block;
  margin: 0;
  padding: 13px 16px;
  background-color: #fff;
  border: 0;
  border-bottom: 1px solid #ddd;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  color: #616161;
  transition: background-color .2s;
}
.list-group.help-group .faq-list .list-group-item i.mdi {
  margin-right: 5px;
  font-size: 18px;
  position: relative;
  top: 2px;
}
.list-group.help-group .faq-list .list-group-item:hover {
  background-color: #f6f6f6;
}
.list-group.help-group .faq-list .list-group-item.active {
  background-color: #f6f6f6;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.87);
}
.list-group.help-group .faq-list .list-group-item:last-of-type {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom: 0;
}

.tab-content.panels-faq {
  padding: 0;
  border: 0;
}

.panel.panel-help {
  box-shadow: 0 1px 5px rgba(85, 85, 85, 0.15);
  padding-bottom: 0;
  border-radius: 2px;
  overflow: hidden;
  background-color: #fff;
  margin: 0 0 16px;
}
.panel.panel-help a[href^="#"],
.panel.panel-help a[href^="#"]:hover,
.panel.panel-help a[href^="#"]:focus {
  outline: none;
  cursor: pointer;
  text-decoration: none;
}
.panel.panel-help .panel-heading {
  background-color: #f6f6f6;
  padding: 0 16px;
  line-height: 48px;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  color: rgba(0, 0, 0, 0.87);
}
.panel.panel-help .panel-heading h2 {
  margin: 0;
  padding: 14px 0 14px;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
  text-transform: none;
}
.panel.panel-help .panel-body {
  background-color: #fff;
  border-top: 1px solid #ddd;
  border-radius: 2px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  margin-top: 0;
}
.panel.panel-help .panel-body p {
  margin: 0 0 16px;
}
.panel.panel-help .panel-body p:last-of-type {
  margin: 0;
}

</style>



{%endblock%}